spring:
  application:
    name: guard

  datasource:
    url: jdbc:postgresql://localhost:5432/guarddb
    username: guard_user
    password: guard_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

jwt:
  private-key: classpath:certs/private.pem
  public-key: classpath:certs/public.pem
  access-token-expiration: 900      # 15 minutos em segundos
  refresh-token-expiration: 604800  # 7 dias em segundos

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

management:
  endpoints:
    web:
      exposure:
        include: health, info
  endpoint:
    health:
      show-details: always